<h3>CommentForm</h3>
@{
    //CommentForm component: This component would allow a user to add a new comment to a post. It would have a textarea input field and buttons to submit and close.
}
@code {

}
