<h3>PostFrom</h3>
@{//PostForm component: This component would allow a user to create a new post. It would have a title input field, a WYSIWYG editor, and buttons to save as draft, publish, and close.
}
@code {

}
