@page "/getposts"
@using Blog.Core.DTO
@inject ILogger<GetPosts> logger
@inject NavigationManager NavigationManager

<h1>All Posts</h1>

@{
    //PostList component: This component would display a list of all posts, including their titles and like counts. It would have a button or link to view the full post.
}

<Virtualize Items="posts" Context="post">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@post.Excerpt</p>
            <a href="/@post.Url">Read more...</a>
        </div>
    </div>
</Virtualize>

@code {
    private List<PostDto> posts = new List<PostDto>();

    [Inject]
    private HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await HttpClient.GetFromJsonAsync<List<PostDto>>("api/Posts");
            if (result != default)
            {
                posts = result.ToList();
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "an error occurred");
        }
    }

    //private void NavigateToPost(string url)
    //{
    //    NavigationManager.NavigateTo($"/{url}");
    //}
}