<h3>PostDetail</h3>

@{
    //PostDetails component: This component would display the full details of a post, including its title, content, comments, and like count. It would have buttons to edit and delete the post, as well as a button to add a new comment.
}
@code {

}
